body{
    margin: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
footer ::selection{
    background-color: white;
    color: black;
}
footer{
    background-color: black;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color: white;
    margin: 0px;
    padding: 20px 15%;
    font-size: 20px;
    text-align: center;
}