:root{
    --main-color: #fe4a49;
    --side-color: #1c1c21;
    --contrast-color: white;
}
body{
    margin: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--side-color);
}
#nav-bar{
    background: var(--main-color);
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
#nav-bar a{
    width: 10%;
    margin: 0px 10%;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: var(--side-color);
    border: 2px var(--main-color) solid;
}
#nav-bar a:hover{
    border: 2px var(--side-color) solid;
    border-radius: 5px;
}
#header-img{
    width: 100%;
    height: auto;
    position: relative;
    top: 45px;
}
main{
    position: relative;
    top: 45px;
}
#about{
    color: white;
    font-size: 25px;
    margin: 0px 20%;
    line-height: 1.5;
}
#video{
   width: 100%;

}
img{
    width: 100%;
    height: auto;
}
footer ::selection{
    background-color: var(--contrast-color);
    color: var(--side-color);
}
footer{
    background-color: var(--side-color);
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color: var(--contrast-color);
    margin: 0px;
    padding: 20px 15%;
    font-size: 20px;
    text-align: center;
}